.ass{
    border-bottom: 2px solid #0000ff;
    border-left: 2px solid blue; 
    border-right: 2px solid blue;
    border-top: 2px solid blue;
    

}

.pathe{
    background-color:mediumslateblue;
}

.taf{
    border-top:2px  solid;
}

.mat{
    border-top:2px solid;
}

.pat{
    border-top:2px solid;
}